body {
	background-color: #dcdcdc;
	background-image: url(/pics/site/bg.png);
	color: #000000;
}

a {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: underline;
}
a:visited {
	color: #000000;
	text-decoration: underline;
}

.pane {
	width: 100%;
}
.content {
	width: 100%;
}

.pane td {
	background-color: #eeeeee;
	background-image: url(/pics/site/bar.png);
	background-repeat: no-repeat;
	border-width: 1px;
	border-color: #777777;
	border-style: solid;

	font-weight: bold;
	font-size: 10pt;
	text-align: center;
	padding: 1px;

}
.content td {
	background-color: #eeeeee;
	background-image: url(/pics/site/bar.png);
	background-repeat: no-repeat;
	border-width: 1px;
	border-color: #777777;
	border-style: solid;

	font-size: 10pt;
	text-align: left;
	padding: 5px;

	vertical-align: top;
}
.inner {
	width: 100%;
	text-align: center;
}
.inner td {
	background-color: #eeeeee;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: solid;

	text-align: left;
	border-width: 0px;
	background-image: none;

	vertical-align: top;
}
.twoside {
	margin: -1px;
	width: 100%;
}
.twoside td {
	padding: 0px;
	text-align: left;
	border-width: 0px;
	background-image: none;

	vertical-align: top;
}
.list hr {
	margin: 2px;
}
.list {
	line-height: 0px;
	border-spacing: 0px;
}
.list td {
	background-color: #eeeeee;
	background-image: url(/pics/site/bar.png);
	background-repeat: no-repeat;
	border-width: 1px;
	border-color: #777777;
	border-style: solid;

	text-align: center;
	line-height: 1em;
}
.listnorm hr {
	margin: 2px;
}
.listnorm {
	line-height: 0px;
	border-spacing: 0px;
}
.listnorm3 {
	line-height: 0px;
	border-spacing: 0px;
	width: 60%;
}
.listnorm td {
	background-color: #eeeeee;
	background-image: url(/pics/site/bar.png);
	background-repeat: no-repeat;
	border-width: 1px;
	border-color: #777777;
	border-style: solid;

	/*text-align: center;*/
	line-height: 1em;
}
.listnorm3 td {
	background-color: #eeeeee;
	background-image: url(/pics/site/bar.png);
	background-repeat: no-repeat;
	border-width: 1px;
	border-color: #777777;
	border-style: solid;
	line-height: 1em;
	width: 33%;
	/*border-bottom: 0px;*/
}
.flag {
	background-color: #ffffff;
	vertical-align: center;
	border-width: 0px;
	border-color: #000000;
	border-style: solid;
	width: 16;
}
