Source: ggz-kde-games
Section: games
Priority: optional
Maintainer: Josef Spillner <dr_maux@users.sourceforge.net>
Standards-Version: 3.0.1
Build-Depends: debhelper

Package: ggz-kde-games
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: libggz-client-libs
Recommends: ggz-core-client
Description: Collection of KDE games for GGZ
 This is a set of KDE games for the GGZ Gaming Zone.
 Whenever the gametype corresponds to an existing one
 (e.g. Gtk+), the game protocol is compatible, so
 both UI types may be used.
