[Desktop Entry]
Exec=compcal
Icon=compcal
MimeType=Application
Name=Competition Calendar
GenericName=Online games tracker
GenericName[de]=Onlinespiele-Verwaltung
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application

