[Desktop Entry]
Name=ModSniffer
GenericName=Utility to find GGZ games
GenericName[de]=Werkzeug zum Suchen von GGZ-Spielen
GenericName[pt]=Ferramento para buscar jogos do GGZ
Comment=Searches GGZ games for menu inclusion
Comment[de]=Sucht GGZ-Spiele zur Einbindung ins Menü
Comment[pt]=Inclusão de jogos GGZ no menu do KDE

Type=Application
Exec=ggzmodsniff
Icon=ggzmodsniff
Terminal=false
Categories=X-GGZ;Utility;KDE;Qt;
