[Desktop Entry]
Comment=Searches GGZ games for menu inclusion
Comment[de]=Sucht GGZ-Spiele zur Einbindung ins Menü
GenericName=Utility to find GGZ games
GenericName[de]=Werkzeug zum Suchen von GGZ-Spielen
Exec=ggzmodsniff
Icon=ggzmodsniff
MimeType=application/zone;Application
Name=ModSniffer
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
