[Desktop Entry]
Name=KGGZ
GenericName=Internet gaming center for KDE
GenericName[de]=Internet-Spielezentrum für KDE
GenericName[fr]=Centre de jeux d'internet pour KDE
GenericName[pt]=Centro de jogos em rede para KDE
Comment=GGZ Core Client
Comment[de]=GGZ-Core-Client
Comment[fr]=Core Client GGZ
Comment[pt]=Cliente núcleo do GGZ

Type=Application
Exec=kggz
Icon=kggz
DocPath=kggz/index.docbook
Terminal=false
StartupNotify=true
Categories=X-GGZ;Network;KDE;Qt;
