	<h1>
		<span class="itemleader">:: </span>
		<TMPL_VAR name>
		<span class="itemleader"> :: </span>
		<a name="planet"></a>
	</h1>

<TMPL_LOOP Items>

<TMPL_IF new_date>
	<h2>
		<span class="itemleader">:: </span>
		<TMPL_VAR new_date>
		<span class="itemleader"> :: </span>
		<a name="planetdate"></a>
	</h2>
</TMPL_IF>

	<div class="text">

<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">">
<TMPL_VAR channel_name>
</a>

<TMPL_IF title>
:
<a href="<TMPL_VAR link ESCAPE="HTML">">
<TMPL_VAR title>
</a>
</TMPL_IF>

	<br>

<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a>


	</div>
	<div class="text">

<TMPL_VAR content>

	</div>

</TMPL_LOOP>

</div>

<div id="rightbar">
	<h1>Blog information</h1>

	<hr class="leather">

	<div class="menubar">
		<h1>Subscriptions</h1>
<TMPL_LOOP Channels>
		<div class="menu">

<a class="menuitem" href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">">
<TMPL_VAR name></a>
<a class="menuitem" href="<TMPL_VAR uri ESCAPE="HTML">">(feed)</a>

		</div>
</TMPL_LOOP>
	</div>

	<hr class="leather">

Last updated:<br>
<TMPL_VAR date><br>
All times are UTC.<br>

	<hr class="leather">

Powered by:<br>
<a href="http://www.planetplanet.org/">
<img src="planet.png" width="80" height="15" alt="Planet" border="0">
</a>
