	<h1>
		<span class="itemleader">:: </span>
		<TMPL_VAR name>
		<span class="itemleader"> :: </span>
		<a name="planet"></a>
	</h1>

<TMPL_LOOP Items>

<TMPL_IF new_date>
	<h2>
		<span class="itemleader">:: </span>
		<TMPL_VAR new_date>
		<span class="itemleader"> :: </span>
		<a name="planetdate"></a>
	</h2>
</TMPL_IF>

	<div class="text">

<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">">
<TMPL_VAR channel_name>
</a>

<TMPL_IF title>
:
<a href="<TMPL_VAR link ESCAPE="HTML">">
<TMPL_VAR title>
</a>
</TMPL_IF>

	<br>

<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a>


	</div>
	<div class="text">

<TMPL_VAR content>

	</div>

</TMPL_LOOP>

