Source: ggz-kde-games
Section: games
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggz-dev (>= 0.0.12), libggzmod-dev (>= 0.0.12), ggzcore-bin (>= 0.0.12), kdelibs4-dev, libqt3-mt-dev, gettext

Package: ggz-kde-games
Architecture: any
Section: games
Depends: ${shlibs:Depends}, ggz-kde-game-data (= ${Source-Version}), ggzcore-bin (>= 0.0.12)
Recommends: ggz-kde-client | ggz-core-client
Description: GGZ Gaming Zone: game clients collection for KDE
 GGZ games are games that can be played online against other people
 while all having some features in common, like table chat, seats
 configuration, bot players, game spectators, savegames, statistics
 and others. Some games also work in single-player mode.
 .
 This package provides a complete collection of GGZ game frontends
 that make use of the KDE/Qt3 toolkit. It includes:
  * Connect-the-Dots
  * Koenig (chess game)
  * Krosswater
  * Muehle (Nine Men's Morris)
  * Reversi
  * TicTacToe
  * Fyrdman (Hastings1066)
  * KCC (Chinese Checkers)
  * Keepalive (role-playing game)
 and much more!
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org

Package: ggz-kde-game-data
Architecture: all
Section: games
Recommends: ggz-kde-games (= ${Source-Version})
Description: GGZ Gaming Zone: game clients collection for KDE
 GGZ games are games that can be played online against other people
 while all having some features in common, like table chat, seats
 configuration, bot players, game spectators, savegames, statistics
 and others. Some games also work in single-player mode.
 .
 This package provides the data files for the complete collection
 of GGZ game frontends that make use of the KDE/Qt3 toolkit.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org
