Source: ggz-txt-client
Section: games
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggzcore-dev (>> 0.0.11), libggzmod-dev (>> 0.0.11)

Package: ggz-txt-client
Architecture: any
Section: net
Depends: ${shlibs:Depends}
Provides: ggz-core-client
Description: GGZ Gaming Zone: client for the command line
 GGZ core clients enable players to access the GGZ server to chat,
 meet other people in the game lobbies, play with them, watch
 their scores and spectator other people's games.
 .
 This package provides a text-only client useful for communication with
 the GGZ server and other players. It is quite configurable,
 comes with an integrated help screen and even allows playing games
 now. In the text console, only text games can be played, while
 in any graphical environment it will allow launching graphical
 games, too.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, uitoolkit::ncurses, game::special, use::chatting
