table {
	font-family: monospace;
}

th {
	text-align: right;
	border-bottom: 1px dashed black;
}

td {
	text-align: right;
	padding-left: 10px;
	border: inherit;
}

tr.current {
	font-weight: bold;
}

tr.border {
	border-top: 1px dashed black;
}

