Source: ggz-kde-client
Section: games
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggz-dev (>= 0.0.12), libggzcore-dev (>= 0.0.12), kdelibs4-dev, libqt3-mt-dev, gettext, libhowl-dev

Package: ggz-kde-client
Architecture: any
Depends: ${shlibs:Depends}
Provides: ggz-core-client
Suggests: ggz-kde-games (>= 0.0.12), ggz-gtk-games (>= 0.0.12), ggz-sdl-games (>= 0.0.12), ggz-python-games (>= 0.0.12)
Description: GGZ Gaming Zone: advanced core client for KDE
 GGZ core clients enable players to access the GGZ server to chat,
 meet other people in the game lobbies, play with them, watch
 their scores and spectator other people's games.
 .
 KGGZ is one of the two recommended clients, specifically written for
 users of the K Desktop Environment, where it integrates very well.
 It provides the highest feature set available from GGZ, including
 secure connections, usage of metaserver and LAN service discovery,
 login profiles, a dialog for conversation with the GGZ chat bot,
 and various functionalities for players and games.
 .
 The package also contains various other GGZ-related tools for the
 desktop, such as KGrubby (to visually configure the chat bot),
 GGZap (a quick game launcher), Competition calendar to track
 online tournaments and a generic metaserver IO slave, as well as
 a module for the KDE control center.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
