Source: ggz-client-libs
Section: libs
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggz-dev (>= 0.0.11), libexpat1-dev (>> 1.95.6)

Package: libggzcore7
Architecture: any
Depends: ${shlibs:Depends}
Description: GGZ Gaming Zone: core client frontend library
 The ggzcore library is an event/state-based library which allows
 programs to connect to a GGZ server, handle game rooms, chat
 and player properties, and control participation in games.
 .
 This package provides the runtime library used by most of the
 GGZ core clients.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, devel::library

Package: libggzcore-dev
Architecture: any
Section: libdevel
Depends: libggzcore7 (= ${Source-Version}), libggz-dev (>> 0.0.11), libexpat1-dev (>> 1.95.6)
Description: GGZ Gaming Zone: core client frontend library - development files
 The ggzcore library is an event/state-based library which allows
 programs to connect to a GGZ server, handle game rooms, chat
 and player properties, and control participation in games.
 .
 This package provides the header files and static libraries
 needed for development with ggzmod in the C programming language.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, devel::library

Package: ggzcore-bin
Architecture: any
Section: utils
Depends: ${shlibs:Depends}
Replaces: libggzcore-utils
Conflicts: libggzcore-utils
Description: GGZ Gaming Zone: various command-line helper programs
 There are two helper tools provided with GGZ:
 .
 The developer utility ggz-config manages the database of game clients
 and allows developers to query GGZ parameters.
 .
 With ggz-wrapper it is possible to let any program connect to a
 GGZ server, communicating with standard input/output channels.
 This is used by the GGZ plugins for instant messengers.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, interface::commandline, role::sw-utility

Package: libggzmod2
Architecture: any
Depends: ${shlibs:Depends}
Description: GGZ Gaming Zone: game frontend library
 The ggzmod library allows games to communicate with a GGZ core client
 and thereby establishing a connection to the GGZ server and its
 associated game server.
 .
 This package provides the runtime library used by most of the
 GGZ game clients.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, devel::library

Package: libggzmod-dev
Architecture: any
Section: libdevel
Depends: libggzmod2 (= ${Source-Version}), libggzcore-dev (= ${Source-Version}), libggz-dev (>> 0.0.11)
Description: GGZ Gaming Zone: game frontend library - development files
 The ggzmod library allows games to communicate with a GGZ core client
 and thereby establishing a connection to the GGZ server and its
 associated game server.
 .
 This package provides the header files and static libraries
 needed for development with ggzmod in the C programming language.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, devel::library
