<!DOCTYPE kpartgui>
  <kpartgui name="Koenig" version="1">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="gamenewstuff"/>
      <Action name="gamequit"/>
    </Menu>
	<Menu name="game"><text>&amp;Game</text>
	  <Action name="gamesync"/>
	  <Action name="gameflag"/>
	  <Action name="gamedraw"/>
	</Menu>
	<Menu name="settings"><text>&amp;Settings</text>
	  <Action name="optionwarnmessages"/>
	  <Action name="optionboardframe"/>
	</Menu>
    <Menu name="windows"><text>&amp;Windows</text>
      <Action name="showmovetable"/>
      <Action name="showchessboard"/>
      <Action name="showthemes"/>
    </Menu>
  </MenuBar>
</kpartgui>

