Source: ggz-server
Section: games
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggz-dev (>= 0.0.11), libexpat1-dev (>> 1.95.6), libdb4.3-dev | libdb4.2-dev

Package: ggzd
Architecture: any
Depends: ${shlibs:Depends}
Suggests: ggz-game-servers (= ${Source-Version}), ggz-python (= ${Source-Version})
Description: GGZ Gaming Zone: main server
 The GGZ server (ggzd) is the central part of the server-side infrastructure
 of the GGZ Gaming Zone. It provides player account management,
 game server launches, and administration of the statistics database,
 as well as secure chat rooms.
 .
 You do not require this package if you simply want to play online games.
 However, you will need it if you intend to do any game hosting, either to
 because you want to run your own server or for development purposes.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/

Package: ggz-game-servers
Architecture: any
Depends: ${shlibs:Depends}
Recommends: ggzd (= ${Source-Version})
Description: GGZ Gaming Zone: game servers collection
 A number of games can be played online via GGZ. This package provides
 all the backend game servers currently available from the GGZ project,
 both for GGZ games and for other games.
  * Chess
  * Chinese-Checkers
  * Combat
  * ConnectX
  * Dots
  * Escape
  * Geekgame
  * GGZCards (various, like LaPocha, Hearts, Bridge, FortyTwo, ...)
  * Hastings1066
  * Krosswater
  * Muehle (Nine Men's Morris)
  * Reversi
  * Spades
  * Tic-Tac-Toe
  * Tuxman (external game)
  * Widelands (external game)
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/

Package: libggzdmod4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: GGZ Gaming Zone: game backend library
 The ggzdmod library implements the communication between the main
 GGZ server (ggzd) and the game servers. Games use it to receive
 information about themselves, to report back results and savegames,
 and to control other run-time aspects.
 .
 This package provides the runtime library used by most of the
 GGZ game servers.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/

Package: libggzdmod-dev
Architecture: any
Section: devel
Depends: libggzdmod4 (= ${Source-Version}), libggz-dev (>> 0.0.11)
Description: GGZ Gaming Zone: game backend library - development files
 The ggzdmod library implements the communication between the main
 GGZ server (ggzd) and the game servers. Games use it to receive
 information about themselves, to report back results and savegames,
 and to control other run-time aspects.
 .
 This package provides the header files and static libraries
 needed for development with ggzdmod in the C programming language.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/

Package: libggzdmod++0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: GGZ Gaming Zone: game backend class library
 The ggzdmod library implements the communication between the main
 GGZ server (ggzd) and the game servers. Games use it to receive
 information about themselves, to report back results and savegames,
 and to control other run-time aspects.
 .
 This package provides the C++ version of the runtime library used
 by most of the GGZ game servers. It also includes a network
 transport class.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/

Package: libggzdmod++-dev
Architecture: any
Section: devel
Depends: libggzdmod++0 (= ${Source-Version}), libggzdmod-dev (= ${Source-Version}), libggz-dev (>> 0.0.11)
Description: GGZ Gaming Zone: game backend class library - development files
 The ggzdmod library implements the communication between the main
 GGZ server (ggzd) and the game servers. Games use it to receive
 information about themselves, to report back results and savegames,
 and to control other run-time aspects.
 .
 This package provides the header files and static libraries
 needed for development with ggzdmod++ in the C++ programming language.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
