Source: easysock
Section: devel
Priority: optional
Maintainer: Josef Spillner <dr_maux@users.sourceforge.net>
Standards-Version: 3.0.1
Build-Depends: debhelper

Package: libeasysock
Architecture: any
Depends: ${shlibs:Depends}, libc6-dev
Description: Easy socket functions for client and server
 This library is the base library for most GGZ Games and
 Applications, and provides a straightforward interface
 for socket handling in C.
 As there is only one header file, it is included here.
