# Sample '~/.ggzbuildrc' file, optimised for a complete GGZ trunk checkout

# Global options which are added to all configurations in addition to
# per-module options

GLOBAL = --prefix=$HOME/ggz/installation

# Per-module options for when 'ggzbuild' is run within a module top-level
# directory

base-libs = --disable-debug --with-tls=GnuTLS
docs = --enable-spec --enable-guides

# MODULES is used for global installation only
# Use this for running 'ggzbuild' from the top-level directory
# This is handy for first-time installations directly from SVN!

MODULES = base-libs ggzd txt-client utils grubby docs python gtk-client kde-center

# Server layout:
# Use the following to get an off-the-shelf server setup with
# the best from GGZ

#base-libs = --disable-debug --with-tls=GnuTLS
#python = --disable-rsvgsdl
#MODULES = base-libs ggzd txt-client utils grubby python

