Source: meta-ggz
Section: games
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1

Package: ggz
Architecture: all
Depends: ggz-kde-client | ggz-gtk-client | ggz-core-client, ggz-kde-games, ggz-gtk-games, ggz-sdl-games, ggz-python
Recommends: ggz-docs
Description: GGZ Gaming Zone: the complete GGZ environment for gamers
 People addicted to games might wish to install this package which
 will ensure a complete GGZ installation for the user.
 A core client will be installed (although more can be added
 manually), and all GGZ-enabled games will then follow.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
