#!/usr/bin/make -f
# debian/rules file for common debian package

docbase = debian/ggz/usr/share/doc/ggz

clean:
	rm -rf debian/ggz
	rm -f debian/files

binary:

binary-arch:

binary-indep:

build:
	mkdir -p $(docbase)
	cp debian/copyright $(docbase)
	cp debian/changelog $(docbase)
	gzip -9 $(docbase)/changelog

	mkdir -p debian/ggz/DEBIAN
	cd debian/ggz && find usr/ -type f -exec md5sum {} \; > DEBIAN/md5sums
	dpkg-gencontrol -Pdebian/ggz -isp

	fakeroot dpkg-deb -b debian/ggz/ ..

