[Desktop Entry]
Name=GGZ Gaming Zone
Name[de]=GGZ Gaming Zone
Comment=Setup your game server and user name preferences
Comment[de]=Einstellungen von Spieleservern und Nutzernamen

Type=Application
Exec=kcmshell Network/kcmggz
Icon=ggz

X-KDE-Library=ggz
X-KDE-ModuleType=Library
Keywords=GGZ,Games,Multiplayer
Keywords[de]=GGZ,Spiele,Multiplayer
Categories=Qt;KDE;X-KDE-settings-network
