[Desktop Entry]
Name=Muehle
GenericName=Nine Men's Morris game for KDE
GenericName[de]=Mühlespiel für KDE
Comment=GGZ Muehle game
Comment[de]=GGZ Mühlespiel

Type=Application
Exec=muehle
Icon=muehle
DocPath=muehle/index.docbook
Terminal=false
Categories=X-GGZ-Games;BoardGame;KDE;Qt;
