[Desktop Entry]
Encoding=UTF-8

Name=ShadowBridge
GenericName=Proxy for network games
GenericName[de]=Netzwerkspiele-Proxy

Type=Application
Exec=shadowbridge
Icon=shadowbridge
Terminal=false
Categories=X-GGZ;Network;KDE;Qt;

NoDisplay=true
