Source: ggz-txt-client
Section: net
Priority: optional
Maintainer: Josef Spillner <dr_maux@users.sourceforge.net>
Standards-Version: 3.5.2
Build-Depends: debhelper (>> 3.0.0), autoconf, automake, libtool, libggzcore-dev (>= 0.0.5-1), libc6-dev (>= 2.2.1-1)

Package: ggz-txt-client
Architecture: any
Section: net
Depends: ${shlibs:Depends}
Provides: ggz-core-client
Description: Text frontend for GGZ
 For those who do not have X11 available. It has all the
 features that the other frontends have, except launching
 games.
