Source: ggz-client-libs
Section: devel
Priority: optional
Maintainer: Josef Spillner <dr_maux@users.sourceforge.net>
Build-Depends: debhelper (>> 3.0.0), autoconf, automake, libtool, libggz-dev (>= 0.0.5-1), libexpat1-dev (>= 1.94-1), libc6-dev (>= 2.2.1-1)
Standards-Version: 3.5.2

Package: libggzcore1
Architecture: any
Section: libs
Replaces: libggz-client-libs
Conflicts: libggz-client-libs
Depends: ${shlibs:Depends}
Description: GGZ Core Library
 Software which wants to use the GGZ Gaming Zone should use
 this library to get an event-driven backend for the UI.
 .
 This package does also contain the ggz-config utily.

Package: libggzcore-dev
Architecture: any
Section: devel
Depends: libggzcore1 (= ${Source-Version}), libc6-dev (>= 2.2.1-1), libggz-dev (>= 0.0.5-1), libexpat1-dev (>= 1.94-1)
Description: GGZ Core Library - Development files
 This package contains the header file <ggzcore.h>
 which is necessary if you want to use the ggzcore
 library for your own programs.

Package: libggzmod0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: GGZ game client library
 The functionality provided by the ggzmod library is needed
 by nearly every GGZ game client.

Package: libggzmod-dev
Architecture: any
Section: devel
Depends: libggzmod0 (= ${Source-Version}), libc6-dev (>= 2.2.1-1)
Description: GGZ game client library - Development files
 The functionality provided by the ggzmod library is needed
 by nearly every GGZ game client.
 .
 This package contains the development file <ggzmod.h>.

