Options +MultiViews

AddDefaultCharset utf-8
#AddDefaultCharset off
#AddCharset UTF-8 php
#AddCharset UTF-8 html

ErrorDocument 406 /site/autonegotiate.php
ErrorDocument 404 /site/error.php

DirectoryIndex index.php index.html

