[Desktop Entry]
Exec=keepalivecontrol
Icon=keepalivecontrol
MimeType=Application
Name=Keepalive Control
GenericName=Online game admin tool
GenericName[de]=Administration von Online-Spielen
Comment=Online game admin tool
Comment[de]=Administration von Online-Spielen
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application

