Source: ggz-docs
Section: doc
Priority: optional
Maintainer: Josef Spillner <dr_maux@users.sourceforge.net>
Standards-Version: 3.5.2
Build-Depends: debhelper (>> 3.0.0), autoconf, automake, texinfo (>= 4.0-1), tetex-bin (>= 1.0.6-1)

Package: ggz-docs
Architecture: any
Section: doc
Recommends: postscript-viewer
Description: GGZ Gaming Zone Documentation
 This package contains design documents, reference material
 and tutorials for developers, but also some help for users
 of GGZ.
 .
 Included are also the GGZ Hosting Guide and the GGZ Game
 Development Guide in PostScript format.
