<div style="float:right">
<!--
<img src="%PREVIEW%" width="64">
-->
<img src="cr32-action-knewstuff.png">
</div>

<h2>
<span class="itemleader">:: </span>
%NAME% (%AUTHOR%)
<span class="itemleader"> :: </span>
</h2>

<!--
<div style="float:right">
<img src="%BASEURL%">
</div>
-->

<div class="text">

<i>%SUMMARY%</i>

<p>
<ul>
<li>Version: %VERSION%</li>
<li>Release date: %RELEASEDATE%</li>
<li>Size: %SIZE%</li>
<li>Licence: %LICENCE%</li>
</ul>

<ul>
<li>Rating: %RATING%</li>
<li>Downloads: %DOWNLOADS%</li>
</ul>
</p>

<p>
<a href="%DOWNLOAD%">Download</a>
</p>

</div>

