body
	{
		background-color:#7CAF68;
		margin:0px;
		padding:6px;
		width: 90%;
		background-image:url('/images/widelands/berg2_00.png');
	}

#pagehead
	{
		position:absolute;
		top:6px;
		left:6px;
		width: 90%;
		padding:2px;
		background-color:#8AC990;
		border-top: 1px #3E8A3F solid;
		border-left: 1px #3E8A3F solid;
		border-right: 1px #5E7643 solid;
		border-bottom: 1px #5E7643 solid;
		background-image:url('/images/widelands/wiese4_00.png');
		color: #ffffff;
	}

#pagehead .menubar
	{
		width:390px;
		background-color:#71DC81;
		border-top: 1px #3E6A3F solid;
		border-left: 1px #3E6A3F solid;
		border-right: 1px #4E4045 solid;
		border-bottom: 1px #4E4045 solid;
		font-family:sans-serif;
		font-size:9pt;
		font-weight:normal;
		font-style:normal;
		padding:2px;
		text-align:right;
		background-image:url('/images/widelands/sumpf_00.png');
	}

#leftbar
	{
		width: 18%;
		background-color:#7AC980;
		border-top: 1px #3E8A3F solid;
		border-left: 1px #3E8A3F solid;
		border-right: 1px #2E7653 solid;
		border-bottom: 1px #2E7653 solid;
		line-height:12pt;
		z-index:50;
		font-size:9pt;
		font-family:sans-serif;
		background-image:url('/images/widelands/sumpf_00.png');
		color: #ffffff;
	}

#rightbar
	{
		width: 18%;
		background-color:#7AC980;
		border-top: 1px #3E8A3F solid;
		border-left: 1px #3E8A3F solid;
		border-right: 1px #2E7653 solid;
		border-bottom: 1px #2E7653 solid;
		line-height:12pt;
		z-index:50;
		font-size:9pt;
		font-family:sans-serif;
		background-image:url('/images/widelands/sumpf_00.png');
		color: #ffffff;
	}

#mainandacknowledgements
	{
		width: 60%;
	}

#main, #acknowledgements
	{
		background-color:#7AC980;
		border-top: 1px #559B49 solid;
		border-left: 1px #559B49 solid;
		border-right: 1px #0D2818 solid;
		border-bottom: 1px #0D2818 solid;
		font-size:12pt;
		font-weight:normal;
		font-style:normal;
		z-index:50;
		background-image:url('/images/widelands/sumpf_00.png');
	}

#main .note, #acknowledgements .note
	{
		padding:2px;
		color: #ffffff;
		font-family:sans-serif;
		font-size:8pt;
		text-align:right;
	}

#main .note a, #acknowledgements .note a
	{
		color: #e0e0e0;
	}

#leftbar h1
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
	}

#leftbar h2
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:10pt;
		font-weight:normal;
		font-style:normal;
	}

#main .text, #acknowledgements .text
	{
		background-color:#CEFADF;
		border-top: 1px #7E9570 solid;
		border-left: 1px #7E9570 solid;
		border-right: 1px #FFFFFF solid;
		border-bottom: 1px #FFFFFF solid;
		padding:2px;
		margin:4px;
		font-family:serif;
		font-size:11pt;
		font-weight:normal;
		font-style:normal;
		color: black;
		background-image:url('/images/widelands/strand_00.png');
	}

#main .text a, #acknowledgements .text a
	{
		font-family:sans-serif;
		font-size:smaller;
		text-decoration:none;
		color: #2E3940;
		font-weight:bold;
	}

.linklike
	{
		font-family:sans-serif;
		font-size:smaller;
		text-decoration:none;
		font-weight:bold;
	}

#leftbar .menu a
	{
		font-weight:normal;
	}

#leftbar a
	{
		font-family:sans-serif;
		text-decoration:none;
		color: #a0ffa0;
		font-weight:bold;
	}

#leftbar a:hover
	{
		color:#828282;
	}

#rightbar a
	{
		font-family:sans-serif;
		text-decoration:none;
		color: #a0ffa0;
	}

#main .text h1, #acknowledgements .text h1
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:12pt;
		font-weight:bold;
		font-style:normal;
		background-color:transparent;
		background-image:none;
		color:black;
		border:none;
	}

#main .text h2, #acknowledgements .text h2
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:12pt;
		font-weight:normal;
		font-style:italic;
		background-image:none;
	}

#main h1, #acknowledgements h1
	{
		margin:4px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:14pt;
		font-weight:bold;
		font-style:normal;
		background-color:#1B5432;
		border-top: 1px #5E7683 solid;
		border-left: 1px #5E7683 solid;
		border-right: 1px #515C61 solid;
		border-bottom: 1px #515C61 solid;
		color:#D1DCE1;
		background-image:url('/images/widelands/wiese4_00.png');
	}

#main h2, #acknowledgements h2
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:14pt;
		font-weight:bold;
		font-style:normal;
		background-image:none;
	}

#pagehead h1
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:14pt;
		font-weight:bold;
		font-style:normal;
	}

#pagehead h2
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:serif;
		font-size:10pt;
		font-weight:normal;
		font-style:italic;
	}

#rightbar h1
	{
		margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;font-family:sans-serif;font-size:10pt;font-weight:bold;font-style:normal;
	}

#rightbar h2
	{
		margin:0px 0px 0px 0px;
		padding:2px 2px 0px 2px;
		font-family:sans-serif;
		font-size:10pt;
		font-weight:normal;
		font-style:normal;
	}

body #leftbar
	{
		position:absolute;
		top:96px;
		left: 1%;
	}

body #mainandacknowledgements
	{
		position:absolute;
		top:96px;
		left: 20%;
	}

body #pagehead .menubar
	{
		position:absolute;
		top:60px;
		right: 8%;
	}

body #pagehead
	{
		height:68px;
	}

body #rightbar
	{
		position:absolute;
		top: 96px;
		left: 81%;
	}

h1 span.itemleader
	{
		font-family:sans-serif;
		color: #a0ffa0;
		letter-spacing:0.125em;
		font-style:normal;
		font-weight:bold;
	}

hr.leather
	{
		background-color:#42936A;
		border-top:1px #2B744B solid;
		border-left:1px #2B744B solid;
		border-right:1px #254B59 solid;
		border-bottom:1px #254B59 solid;
		height:6px;
		margin-left:6px;
		margin-right:6px;
		background-image:url('/images/widelands/wiese4_00.png');
	}

#pagehead div.menu
	{
		top:24px;
		display:block;
		width:64px;
		float:left;
		font-size:8pt;
		text-align:center;
		background-color:transparent;
		color: #a0ffa0;
	}

#pagehead a.menuitem
	{
		display:block;
		text-align:center;
		margin: 1px;
		color: #a0ffa0;
		text-decoration:none;
	}

#pagehead div.menu div.menu a.menuitem
	{
		text-align:left;
	}

#pagehead a.menuitem:hover
	{
		color: #EEFAFF;
		background-color: #2E7940;
	}

#pagehead a.menuitem:hover > div.menu
	{
		display:block;
	}

#pagehead div.menu div.menu
	{
		display:none;
		width:120px;
		float:left;
		font-size:8pt;
		text-align:center;
		z-index:100;
		position:absolute;
		top:1.5em;
		background-color:#71DC81;
		border-top: 1px #8EFA9F solid;
		border-left: 1px #8EFA9F solid;
		border-right: 1px #4E9570 solid;
		border-bottom: 1px #4E9570 solid;
		background-image:url('/images/widelands/wiese4_00.png');
	}

#pagehead div.menu:hover > div.menu
	{
		display:block;
	}

#rightbar div.menubar h1, #leftbar div.menubar h1
	{
		color:#CCFFEB;
	}

#rightbar div.menubar, #leftbar div.menubar
	{
		background-color:#2B744B;
		border-top: 1px #435E76 solid;
		border-left: 1px #435E76 solid;
		border-right: 1px #41212C solid;
		border-bottom: 1px #31212C solid;
		color:#D1DCE1;
		background-image:url('/images/widelands/wiese4_00.png');
	}

#leftbar div.menu, #rightbar div.menu
	{
		display:block;
		font-size:8pt;
		font-family:sans-serif;
		text-align:center;
		background-color:#2B744B;
		color: #FFEBCC;
		background-image:url('/images/widelands/wiese4_00.png');
	}

#leftbar a.menuitem, #rightbar a.menuitem
	{
		display:block;
		text-align:left;
		margin: 1px;
		color: #FFEBCC;
		text-decoration:none;
	}

#leftbar div.menu div.menu a.menuitem, #rightbar div.menu div.menu a.menuitem
	{
		text-align:left;
	}

#leftbar a.menuitem:hover, #rightbar a.menuitem:hover
	{
		color: #CBA975;
		background-color: #28782D;
	}

#leftbar a.menuitem:hover > div.menu, #rightbar a.menuitem:hover > div.menu
	{
		display:block;
	}

#leftbar div.menu div.menu, #rightbar div.menu div.menu
	{
		display:none;
		width:120px;
		float:left;
		font-size:8pt;
		text-align:center;
		z-index:100;
		position:absolute;
		left:45px;
		background-color:#744B2B;
		border-top: 1px #CBA975 solid;
		border-left: 1px #CBA975 solid;
		border-right: 1px #28180D solid;
		border-bottom: 1px #28180D solid;
		background-image:url('/images/widelands/wiese4_00.png');
		color: #a0ffa0;
	}

#leftbar div.menu:hover > div.menu, #rightbarbar div.menu:hover > div.menu
	{
		display:block;
	}

form.leather
	{
		margin:2px;
		padding:2px;
		display:block;
		background-color:#2B544B;
		border-top: 1px #559B49 solid;
		border-left: 1px #559B49 solid;
		border-right: 1px #0D2818 solid;
		border-bottom: 1px #0D2818 solid;
		background-image:url('/images/widelands/wiese4_00.png');
		color: #ffffff;
	}

form.leather h1
	{
		font-size:larger;
	}

form.leather h2
	{
		font-weight:normal;
	}

form.leather input.button
	{
		margin-top:4px;
		background-color:#599259;
		border-top: 1px #CCFFEB solid;
		border-left: 1px #CCFFEB solid;
		border-right: 1px #1B5432 solid;
		border-bottom: 1px #1B5432 solid;
	}

form.leather input
	{
		background-color:#599259;
		border-top: 1px #1B5432 solid;
		border-left: 1px #1B5432 solid;
		border-right: 1px #CCFFEB solid;
		border-bottom: 1px #CCFFEB solid;
	}

form.leather select
	{
		background-color:#599259;
		border-top: 1px #CCFFEB solid;
		border-left: 1px #CCFFEB solid;
		border-right: 1px #1B5432 solid;
		border-bottom: 1px #1B5432 solid;
	}

form.leather textarea
	{
		background-color:#599259;
		border-top: 1px #1B5432 solid;
		border-left: 1px #1B5432 solid;
		border-right: 1px #CCFFEB solid;
		border-bottom: 1px #CCFFEB solid;
	}

form.leather input.button:focus
	{
		background-color:#599259;
	}

form.leather input:focus
	{
		background-color:#4C8F4B;
	}

form.leather select:focus
	{
		background-color:#4C8F4B;
	}

form.leather textarea:focus
	{
		background-color:#4C8F4B;
	}

img.leather
	{
		padding:4px;
		background-color:#2B744B;
		border-top: 1px #75CBA9 solid;
		border-left: 1px #75CBA9 solid;
		border-right: 1px #0D2818 solid;
		border-bottom: 1px #0D2818 solid;
		background-repeat : no-repeat;
	}

table.leather
	{
		padding:4px;
		background-color:#599259;
		border-top: 1px #CCFFEB solid;
		border-left: 1px #CCFFEB solid;
		border-right: 1px #2B744B solid;
		border-bottom: 1px #2B744B solid;
		background-repeat : no-repeat;
	}

