[Desktop Entry]
Comment[de]=Der Originalclient für die GNU Gaming Zone
Comment[en]=The original client for the GNU Gaming Zone
Comment[fr]=Le client original pour la GNU Gaming Zone
Exec=ggz-gtk
Icon=ggz-gtk
MimeType=application/zone;Application
Name[de]=GGZ (Gtk+ Client)
Name[en]=GGZ (Gtk+ Client)
Name[fr]=GGZ (Gtk+ Client)
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
