Source: ggz-gtk-client
Section: games
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggz-dev (>= 0.0.12), libggzcore-dev (>= 0.0.12), libgtk2.0-dev, gaim-dev

Package: ggz-gtk-client
Architecture: any
Depends: ${shlibs:Depends}
Recommends: ggz-gtk-games (>= 0.0.12), ggz-kde-games (>= 0.0.12), ggz-sdl-games (>= 0.0.12), ggz-python-games (>= 0.0.12)
Enhances: gaim
Provides: ggz-core-client
Description: GGZ Gaming Zone: advanced core client for Gtk+ environments
 GGZ core clients enable players to access the GGZ server to chat,
 meet other people in the game lobbies, play with them, watch
 their scores and spectator other people's games.
 .
 Using ggz-gtk is one of the two recommended clients, specifically
 written for Gtk+ environments, and supports most features offered
 by GGZ such as display of player lag and statistics, automatic
 reconnect after disconnection, game frontend selection, login
 profiles and more.
 .
 This package also contains ggz-gaim, a GGZ plugin which allows people
 to play games online while chatting in the Gaim instant messenger.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
