Source: ggz-utils
Section: net
Priority: optional
Maintainer: Josef Spillner <dr_maux@users.sourceforge.net>
Standards-Version: 3.5.2
Build-Depends: debhelper (>> 3.0.0), autoconf, automake, libtool, libggzcore-dev (>= 0.0.5-1), libc6-dev (>= 2.2.1-1), gettext

Package: ggz-utils
Architecture: any
Section: net
Depends: ${shlibs:Depends}
Suggests: ggz-core-client
Description: GGZ Gaming Zone Utilies
 This package contains the GGZ chat bot (Grubby),
 a server load tester (AGRUE) and a generic python
 client (using Gtk+ bindings).
