Source: ggz-utils
Section: net
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggzcore-dev (>> 0.0.11)

Package: ggz-utils
Architecture: any
Depends: ${shlibs:Depends}, ruby
Suggests: ggz-server
Description: GGZ Gaming Zone: utilities
 GGZ utilities are nice GGZ applications which don't fit into another package.
 It includes:
  - Cmd-Client: Utily to broadcast messages across all rooms at a GGZ
 server.
  - Metaserv: The first prototype of a GGZ meta server. It is
 completely XML-based but understands URI queries as well.
  - TelGGZ: A Telnet wrapper for GGZ. Using telggz you can chat from
 everywhere in the world, provided you get a telnet terminal.
  - GGZ CommGen: Generator for network protocol implementations based
 on XML protocol descriptions.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, interface::commandline, role::sw-utility
