Source: ggz-grubby
Section: games
Priority: optional
Maintainer: Josef Spillner <josef@ggzgamingzone.org>
Standards-Version: 3.6.2.1
Build-Depends: autotools-dev, debhelper (>> 4.8), libggzcore-dev (>= 0.0.11), libggzmod-dev (>= 0.0.11), libperl-dev, ruby1.8-dev, python2.3-dev | python2.4-dev, libsilc-dev

Package: ggz-grubby
Architecture: any
Depends: ${shlibs:Depends}, perl
Recommends: python, ruby
Suggests: ggz-kde-client
Description: GGZ Gaming Zone: chat bot with the ability to play games
 Grubby is a nice bot which is intended to run on GGZ servers, but it can
 also access IRC and SILC networks.
 It is highly configurable, extensible with plugins, and gets smarter
 the longer it runs.
 A more serious use is to alert or notify other players, to remember
 messages for them, or to translate some phrases.
 On top of this, grubby can also be invited to some games and will give
 funny comments during the gameplay.
 .
 For easy configuration, check out the kgrubby tool in ggz-kde-client.
 .
 This package is part of the GGZ Gaming Zone, a multiuser
 networked gaming environment.
 More information can be found at the GGZ web site
 http://www.ggzgamingzone.org/
Tag: suite::ggz, interface::daemon, game::special, use::chatting
