Source: ggz-gtk-client
Section: games
Priority: optional
Maintainer: Josef Spillner <dr_maux@users.sourceforge.net>
Standards-Version: 3.5.2
Build-Depends: debhelper (>> 3.0.0), autoconf, automake, libtool, libgtk1.2-dev, libggzcore-dev (>= 0.0.5-1), libc6-dev (>= 2.2.1-1), gettext

Package: ggz-gtk-client
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Provides: ggz-core-client
Suggests: ggz-gtk-games (>= 0.0.5-1), ggz-kde-games (>= 0.0.5-1)
Description: Gtk+/Gnome frontend for the GGZ Gaming Zone
 This is one of the two graphical core clients currently
 available. It is able to handle a chat, many different
 kinds of online games, and personal configuration.
