[Desktop Entry]
Comment=GGZ TicTacToe game for KDE
Exec=ktictactux
Icon=ktictactux
MimeType=Application
Name=KTicTacTux
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application

